@use 'sass:math' as *;
@use '../functions' as *;
@use '../mixins' as *;

.hero{
    position: relative;
    height: 100dvh;
    overflow: hidden;

    &__background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
    }

    &__more{
    @include flex;

    position:absolute;
    bottom: 0;
    right: 0;
    z-index: 50;

    width: fit-content;
    height: fit-content;

    padding: fluid(30,10) fluid(70,20);

    background-color: var(--colorDark);
    border-top-left-radius: var(--borderMain);

    &-btn{
        width: fluid(200,100);
        max-width: none;
        height: fluid(66,33);
        font-size: fluid(30,14);
    }
}

}